<!DOCTYPE html>
<html>
<head>
    <title> StockAnalysis | Fox Trading Solution</title>
    <link rel="icon" sizes="192x192" href="https://static.wixstatic.com/media/d40f2e_2b2aaca4d15d463487eda8035b398bf7%7Emv2.jpg/v1/fill/w_32%2Ch_32%2Clg_1%2Cusm_0.66_1.00_0.01/d40f2e_2b2aaca4d15d463487eda8035b398bf7%7Emv2.jpg">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <script src="https://kit.fontawesome.com/6e0454b3f8.js" crossorigin="anonymous"></script>
    
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<!-- <meta http-equiv="refresh" content="5">  Refresh every 15 minutes --> 
<link rel="stylesheet" href="css/style.css">

</head>
<body>
    <header>
        
        <nav class="navbar navbar-expand-lg navbar-light ">

            <div class="container-fluid">
              <img  src="https://static.wixstatic.com/media/d40f2e_d0083d5ff71a40b0b6f53dabe020de40~mv2.png/v1/fill/w_140,h_65,al_c,q_85,usm_0.66_1.00_0.01/Picture1_edited.webp" alt="Logo">
              <a class="navbar-brand mt-4" href="https://www.foxtradingsolutions.com/" style="margin-right:100px;" ><b>Trading Solutions</b></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0 mt-4">
                  <li class="nav-item" style="margin-right: 20px;">
                    <a class="nav-link " aria-current="page" href="https://www.foxtradingsolutions.com/">Home</a>
                  </li>
                  <li class="nav-item" style="margin-right: 20px;">
                    <a class="nav-link" aria-current="page" href="https://www.foxtradingsolutions.com/invest">InvestMarketplace</a>
                  </li>
                  <li class="nav-item" style="margin-right: 20px;">
                    <a class="nav-link" aria-current="page" href="https://www.foxtradingsolutions.com/learn">Learn</a>
                  </li>
                  <li class="nav-item" style="margin-right: 20px;">
                    <a class="nav-link" aria-current="page" href="https://www.foxtradingsolutions.com/trading-automation">Automate</a>
                  </li>
                  <li class="nav-item" style="margin-right: 20px;">
                    <a class="nav-link" aria-current="page" href="https://www.foxtradingsolutions.com/portfolio-sheild-rent">Portfolio Rent & Hedge</a>
                  </li>
                  <li class="nav-item" style="margin-right: 20px;">
                    <a class="nav-link" aria-current="page" href="https://www.foxtradingsolutions.com/zero-brokerage-demat">Zero Cost Trading</a>
                  </li>
                  <li class="nav-item" style="margin-right: 20px;">
                    <a class="nav-link" aria-current="page" href="https://www.foxtradingsolutions.com/carrers">Careers</a>
                  </li>
                  <li class="nav-item" style="margin-right: 20px;">
                    <a class="nav-link" aria-current="page" href="https://www.foxtradingsolutions.com/courses">Courses</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="new.html">Stock Analysis</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

    </header>
  
 
  

  
  <div class="section welcome">
      <h2>Welcome to</h2>
      <p>Stock Analysis</p>
      <div class="video-container">
          <div class="color-overlay"></div>
          <video autoplay loop muted>
            <source src='stock.mp4' type="video/mp4">
          </video>
      </div>
  </div>




  <section class="content"> 
    <table id="t01">
      <tr>
        <th>STOCK NAME</th>
        <th>LTP</th> 
        <th>BUY/SELL</th>
        <th>STOP LOSS</th>
      </tr>

       <tr>
        <td id="first" >NIFTY 50</td>
        <td id="firsttp" ></td>
        <td id="firstc" ></td>
        <td id="firsts" ></td>
      </tr>

      <tr>
        <td id="second" >RELIANCE</td>
        <td id="secondtp" ></td>
        <td id="secondc" ></td>
        <td id="seconds" ></td>
      </tr>
      
      <tr>
        <td id="third" >SBIN</td>
        <td id="thirdtp" ></td>
        <td id="thirdc" ></td>
        <td id="thirds" ></td>
      </tr>

      <tr>
        <td id="fourth" >TATASTEEL</td>
        <td id="fourthtp" ></td>
        <td id="fourthc" ></td>
        <td id="fourths" ></td>
      </tr>

      <tr>
        <td id="fivth" >RADICO</td>
        <td id="fivthtp" ></td>
        <td id="fivthc" ></td>
        <td id="fivths" ></td>
      </tr>

      <tr>
        <td id="sixth" >ROSSELLIND</td>
        <td id="sixthtp" ></td>
        <td id="sixthc" ></td>
        <td id="sixths" ></td>
      </tr>
      
    </table> 
  </section>
  

  <!-- footer section -->
   <footer>
            <div class="footer-container">
        
                <div class="footer-data">
                    <h1>Fox Trading Solutions</h1>
                    <p>Sector 26, Noida, Uttar Pradesh, India</p>
                    <p>Email : abc@gmail.com</p>
                    <p>Mob no. : +91-xx998714xx</p>
                </div>
        
                <div class='footer-contact'>
        
                    <button class="footer-btn">Contact US</button>
        
                    <!-- <button class="footer-btn">Subscribe</button>-->
                    <p>©️2021 by Fox Trading Solutions.</p>
        
                </div>
        
        
                <div class="icon">
                  <a href="https://web.whatsapp.com/" target="_blank"><i class="fab fa-whatsapp f"></i></a>
                  <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></i></i></a>
                  <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
                  <a href="https://twitter.com/?lang=en" target="_blank"><i class="fab fa-twitter"></i></a>
                  <a href="https://www.linkedin.com/feed/" target="_blank"><i class="fab fa-linkedin"></i></a>
              </div>
        
                
            </div>
        </footer>
  

    <script>
        
      function getdata(){
          fetch('/stock.json')
          .then((response)=>{
              console.log(response);
              return response.json();
          })
          .then((response)=>{
              const obj=response;


              var first=document.getElementById('first');
              var firsttp=document.getElementById('firsttp');
              var firstc=document.getElementById('firstc');
              var firsts=document.getElementById('firsts');

               first.innerHTML=obj[0].Nifty.name
               firsttp.innerHTML=obj[0].Nifty.lastTradePrice
               firstc.innerHTML=obj[0].Nifty.status
               firsts.innerHTML=obj[0].Nifty.stoploss

               var second=document.getElementById('second');
              var secondtp=document.getElementById('secondtp');
              var secondc=document.getElementById('secondc');
              var seconds=document.getElementById('seconds');

               second.innerHTML=obj[0].Reliance.name
               secondtp.innerHTML=obj[0].Reliance.lastTradePrice
               secondc.innerHTML=obj[0].Reliance.status
               seconds.innerHTML=obj[0].Reliance.stoploss

               var third=document.getElementById('third');
              var thirdtp=document.getElementById('thirdtp');
              var thirdc=document.getElementById('thirdc');
              var thirds=document.getElementById('thirds');

               third.innerHTML=obj[0].Sbi.name
               thirdtp.innerHTML=obj[0].Sbi.lastTradePrice
               thirdc.innerHTML=obj[0].Sbi.status
               thirds.innerHTML=obj[0].Sbi.stoploss

               var fourth=document.getElementById('fourth');
              var fourthtp=document.getElementById('fourthtp');
              var fourthc=document.getElementById('fourthc');
              var fourths=document.getElementById('fourths');

               fourth.innerHTML=obj[0].Tata.name
               fourthtp.innerHTML=obj[0].Tata.lastTradePrice
               fourthc.innerHTML=obj[0].Tata.status
               fourths.innerHTML=obj[0].Tata.stoploss

               var fivth=document.getElementById('fivth');
              var fivthtp=document.getElementById('fivthtp');
              var fivthc=document.getElementById('fivthc');
              var fivths=document.getElementById('fivths');

               fivth.innerHTML=obj[0].Radico.name
               fivthtp.innerHTML=obj[0].Radico.lastTradePrice
               fivthc.innerHTML=obj[0].Radico.status
               fivths.innerHTML=obj[0].Radico.stoploss

                var sixth=document.getElementById('sixth');
              var sixthtp=document.getElementById('sixthtp');
              var sixthc=document.getElementById('sixthc');
              var sixths=document.getElementById('sixths');

               sixth.innerHTML=obj[0].Rossellind.name
               sixthtp.innerHTML=obj[0].Rossellind.lastTradePrice
               sixthc.innerHTML=obj[0].Rossellind.status
               sixths.innerHTML=obj[0].Rossellind.stoploss


               
              

          })
          .catch((err)=>{
              console.log("Error",err);
          })
      }

      setInterval(getdata,3000);
    </script>
  
</body>
  
  
</html>